<div class="fixed inset-0 overflow-hidden pointer-events-none z-0">
  <div class="geometric-shape top-1/4 left-1/4 w-64 h-64 bg-ye-orange rounded-full blur-3xl" style="animation-delay: 0s;"></div>
  <div class="geometric-shape top-1/2 right-1/3 w-48 h-48 bg-ye-purple rounded-full blur-3xl" style="animation-delay: -2s;"></div>
  <div class="geometric-shape bottom-1/4 right-1/4 w-56 h-56 bg-ye-yellow rounded-full blur-3xl" style="animation-delay: -4s;"></div>
</div>